body {
    background-image: url("../img/fundo.png");
    margin: 0;
    min-height: 100vh;
    font-family: 'Source Code Pro', monospace;
    overflow: hidden;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#frameLogo {
    text-align: center;
    margin: auto;
    z-index: 10;
    margin-top: 7%;
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    position: absolute;
    top: 35%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}

#botaoIniciar {
    z-index: 11;
    text-align: center;

    padding: 10px 80px;
    position: absolute;
    left: 43%;
    top: 70%;

    background-color: transparent;
    -webkit-box-shadow: 5px 5px 5px 0 #000000, inset 4px 4px 15px 0 #000000, 5px 5px 15px 5px rgba(255,139,253,0);
    box-shadow: 5px 5px 5px 0 #000000, inset 4px 4px 15px 0 #000000, 5px 5px 15px 5px rgba(255,139,253,0);

    border: 3px double #FF4294;
    border-radius: 3px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}

#pInicio {
    position: absolute;
    font-weight: bold;
    top: 10%;
    left: 33%;
    font-size: 20px;
}

:root {
    --purple: rgb(168, 0, 255);
    --violet: rgb(255, 216, 104);
    --pink: rgb(250, 7, 6);
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

@keyframes scale {
    from, to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

h1 {
    color: white;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

h1 > .magic {
    display: inline-block;
    position: relative;
}

h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
            to right,
            var(--purple),
            var(--violet),
            var(--pink),
            var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

#tutorial {
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tutorialIcon {
    display: flex;
    position: absolute;
    bottom: 1%;
    right: 40%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    z-index: 100;
}

#tutorialIcon:before {
    content: '';
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 2s linear infinite;
}

#tutorialIcon:after {
    content: '';
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 2s linear infinite;
    animation-delay: 1s;
    animation-name: animate;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border: 4px solid #F8615A;
        box-shadow: 0 0 10px #F8615A;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        border: 4px solid #F8615A;
        box-shadow: 0 0 10px #F8615A;
    }
}

#tutorialTexto {
    background-color: #F8615A;
    color: #FFD868;
    opacity: 1;
    width: 25%;
    position: fixed;
    bottom: 20%;
    right: 10%;
    padding: 0 1.9%;
    border-radius: 0.5%;
    text-align: center;
}

#narrativa {
    display: block;
    background-color: #721B65;
}

#personagem {
    position: fixed;
    bottom: 0;
    margin-left: 5%;
}

#dialogo {
    background-color: #721B65;
    opacity: 0.8;
    width: 50%;
    position: fixed;
    bottom: 5%;
    right: 10%;
    padding-right: 1.9%;
    border-radius: 0.5%;
}

#fala {
    display: none;
    color: #FFD868;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
}

#opcoes {
    display: none;
}

#opcao1, #opcao2 {
    font-family: 'Source Code Pro', monospace;
}

.opcao {
    background-color: #721b65;
    border-radius: 100px;
    box-shadow: #721b65 0 -25px 18px -14px inset, #b80d57 0 1px 2px,#b80d57 0 2px 4px,#ffd868 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    margin: 2%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.opcao:hover {
    box-shadow: #721b65 0 -25px 18px -14px inset,#b80d57 0 1px 2px,#b80d57 0 2px 4px,#ffd868 0 4px 8px,#b80d57 0 8px 16px,#ffd868 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.opcaoZonas {
    display: none;
    color: white;
    padding: 5%;
    background-color: #721b65;
    opacity: 0.8;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1%;
    text-align: center;
    background: linear-gradient(
            60deg,
            #47113f,
            #800c3e,
            #99423e,
            #a68d44,
            #47113f,
            #800c3e,
            #99423e,
            #a68d44)
}
.opcaoZonas p {
    font-size: 20px;
    margin-left: 20px;
}

#pZona {
    font-size: 21px;
    font-weight: bold;
}

.opZona {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    width: 30%;
    font-family: 'Source Code Pro', monospace;


    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.opZona:before {
    content: "";
    background: linear-gradient(
            45deg,
            #721b65,
            #b80d57,
            #f8615a,
            #ffd868,
            #721b65,
            #b80d57,
            #f8615a,
            #ffd868
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingopZona 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowingopZona {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.opZona:active {
    color: #000;
}

.opZona:active:after {
    background: transparent;
}

.opZona:hover:before {
    opacity: 1;
}

.opZona:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f8615a;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#desafioSons {
    display: none;
}

#desafioImg {
    display: none;
}

#desafioFinal {
    display: none;
    background-image: url("../img/desafio_final/cenario.gif");
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#desafioFinalEscolhaAvatar {
    background-color: #721b65;
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    padding: 10px;
    text-align: center;
    color: white;
}

.avatares {
    margin: 5px;
}

#final {
    display: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5%;
    margin: 20px;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1%;
}

.bf1-hover {
    width: 435px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-family: 'Source Code Pro', monospace;
}

.bf1-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bf1-hover:focus {
    outline: none;
}

.bf1-hover.bf2 {
    background-image: linear-gradient(
            to right,
            #721b65,
            #b80d57,
            #f8615a,
            #ffd868
    );
    box-shadow: white;
}


#tituloFim{
    margin: 5%;
    font-size: 50px;
}

#textoFim {
    font-size: 20px;
}